<h1>Friends List goes here!!!</h1>

 <% friends.forEach(function(friend) { %>
    <li><%= friend %></li>
<% }); %>

<form action="/addFriend" method="POST">
    <input type="text" name="newFriend" placeholder="name">
  <button>I made a new friend</button>
</form>